@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css");

.App {
  text-align: center;
  padding: 0;
}

html {
  max-height: 100vh;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
    height: 100%;
    width: 19vw;
    padding: 1vw 3vw;
  }

.content {
    border-left: 1px lightgrey solid;
    padding: 0 30px 30px 30px;
    min-height: 100%;
}


.contentHeader {
  background-color: #16a085
}

.headerTitle {
  margin: 0;
  color: white;
  padding: 4vh
}

.summaryThumbnail {
  width: 100%;
  border-radius: 3px;
}

.profileSummary {
  margin: 0;
}

.profileSummary h5 {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.profileSummary h6 {
  font-size: 14px;
  line-height: 0.7;
  color: #FFFFFF;
}

.profileSummary a:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.profileSummary a:hover:after {
    opacity:1;
}


.profileSummaryDescription {
    text-align: left;
    padding: 15px 10px 8px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 0 0 3px 3px;
    position: absolute;
    background-image: linear-gradient(-174deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.9) 100%);
    /*opacity: 0;*/
    transition: opacity 0.15s ease-in-out;
}

.searchBar {
    float: left;
    padding-left: 5vw
}

.profileRow {
    margin-bottom: 10px;
}

.profileLabelTitle {
    display: block;
    text-transform: uppercase;
    line-height: 21px;
    margin-bottom: 3px;
    font-size: 12px;
    color: #8093A6;
}

.profileLabelValue {
    font-weight: 300;
    line-height: 21px;
    color: #373739;
    font-size: 16px;
}

.sidebarCollapse .panel-heading {
  background-color: white;
  padding: 0px;
  line-height: 2.1;
}

#Panels {
  position: relative;
  top: 40px;
  border-bottom: none;
}


.panelTitle {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.panel {
  border: none;
}

a{
  color: black;
}

.collapseLinks:link {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 2;
  text-decoration: none;
  position: relative;
  left: 30px;
}

.collapseLinks:hover {
  color: green;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  text-decoration: none;
}

.ui.primary.basic.button {
  border-radius: 2px;
  cursor: pointer;
  color: rgba(154,220,255,.6);
  font-family: FaktProSoft,Helvetica Neue,helvetica,arial,sans-serif;
  transition: all .2s cubic-bezier(.645,.045,.355,1);
  padding: 12 27;
}

.ui.primary.button {
  border-radius: 2px;
  cursor: pointer;
  color: white;
  background-color: rgba(154,220,255,1);
  font-family: FaktProSoft,Helvetica Neue,helvetica,arial,sans-serif;
}

.features {
  background-color: #cccccc;
}

.headerLP {
  position: relative;
  display: block;
  width: 100%;
  background: white;
  color: #3c4858;
  font-weight: bold;
  height: 40px;
}

.headerLP a {
  color: #3c4858;
  font-size: 12;
}

.logo {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-family: FaktProSoft,Helvetica Neue,helvetica,arial,sans-serif;
}

nav,
nav ul,
nav ul li {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  padding: 10px !important;
}

.GetStarted-table{
  float: center;
  width: 1200px;
  height:1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.col {
  flex: 25%;
  padding: 10px;
  max-width: 320px;
  box-sizing: border-box;
}

.table{
  float: right;
  background: #fff;
  padding: 40px 20px;
  font-family: "montserrat",sans-serif;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #00000070;
  height: 400px;
}
.table h2{
  text-transform: uppercase;
}

.description span{
  display: block;
  font-size: 14px;
}


.signup {
  border: 1px solid;
  border-color: rgba(154,220,255,.6);
  background-color: transparent;
  color: #3c4858;
  border-radius: 4px;
  padding: 2px 6px;
  border-width: 1.5px;
  font-weight: 505;
  font-size: 12;
}

button:hover {
  background-color: rgba(154,220,255,.6);
  color: white;
  font-weight: bold;
}
<<<<<<< Updated upstream



  
=======
>>>>>>> Stashed changes
