.App {
  text-align: center;
  padding: 0;
}

html {
  overflow: hidden;
  max-height: 100vh;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  border-right: 1px grey solid;
  height: 100%;
}

.listingContent {
  background-color: #ecf0f1;
  overflow-y: scroll;
  /*max-height: 100%;*/
}


.contentHeader {
  background-color: #16a085
}

.headerTitle {
  margin: 0;
  color: white;
  padding: 4vh
}
