<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slack Login</title>
</head>
<body>

    <ul>
        <li> If this is the first time signing in, you will need to authorize twice</li>
        <li> First one is for your account, second one is to authorize your workspace</li>
        <br>
        <li> If this is the second time signing in, you will only need to authorize once</li>
        <li> To authorize your workspace</li>

    </ul>

    <a href="/auth/slack"> <button> Login In With Slack</button></a>

</body>
</html>