* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: end;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.navbar a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 8px 8px;
  margin: 5px;
}

.navbar a:hover {
  color: #56caea;
}

#navbarsignup {
  
}

.navbar button {
  padding: 8px 8px;
  margin: 5px;
}

@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }
}
