@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css");


nav,
nav ul,
nav ul li {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  padding: 10px !important;
}

.GetStarted-table{
  float: center;
  width: 1200px;
  height:1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.col {
  flex: 25%;
  padding: 10px;
  max-width: 320px;
  box-sizing: border-box;
}

.table{
  float: right;
  background: #fff;
  padding: 40px 20px;
  font-family: "montserrat",sans-serif;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #00000070;
  height: 400px;
}
.table h2{
  text-transform: uppercase;
}

.description span{
  display: block;
  font-size: 14px;
}


.signup {
  border: 1px solid;
  border-color: rgba(154,220,255,.6);
  background-color: transparent;
  color: #3c4858;
  border-radius: 4px;
  padding: 2px 6px;
  border-width: 1.5px;
  font-weight: 505;
  font-size: 12;
}

button:hover {
  background-color: rgba(154,220,255,.6);
  color: white;
  font-weight: bold;
}

