@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css");


.ui.primary.basic.button { //button taken from semantic
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  color: rgba(154,220,255,.6);
  font-family: FaktProSoft,Helvetica Neue,helvetica,arial,sans-serif;
  transition: all .2s cubic-bezier(.645,.045,.355,1);
  padding: 12 27;
  transform: translate(100%, 100%);
}

.ui.primary.button { //button taken from semantic
  border-radius: 2px;
  cursor: pointer;
  color: white;
  background-color: rgba(154,220,255,1);
  font-family: FaktProSoft,Helvetica Neue,helvetica,arial,sans-serif;
}

.features {
  background-color: #cccccc;
}

.headerLP {
  position: relative;
  display: block;
  width: 100%;
  background: white;
  color: #3c4858;
  font-weight: bold;
  height: 40px;
}

.headerLP a {
  color: #3c4858;
  font-size: 12;
}

.logo {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-family: FaktProSoft,Helvetica Neue,helvetica,arial,sans-serif;
}

nav,
nav ul,
nav ul li {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  padding: 10px !important;
}


button:hover {
  background-color: rgba(154,220,255,.6);
  color: white;
  font-weight: bold;
}

.introduction { //css for homePage first div (white box)
  position: relative;
  display: block;
  background-color: white;
  color: black;
  height: 75%;
}

.middle { //css for homepage second div (gray box)
  position: relative;
  display: block;
  background-color: #eff1f4;
  color: black;
  height: 75%;
}

.aboutMe {
  position: relative;
  display: block;
  background-color: black;
  color: white;
  height: 75%;
}

.slogan {
  position: relative;
  margin-left: 38%;
  padding: 15% 0px;
  color: red;
  font-family: FaktProSoft,Helvetica Neue,helvetica,arial,sans-serif;
  font-weight: bold;
}
