.search-input {
    width: 500px;
    height: 40px;
    padding-left:10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 2px solid #3BB9FF;
    padding: 10px; 
    width: 500px;
    color: grey;
    
}
.search-icon {
    margin-top: 22px;
    font-size: 1em;
    color: grey;
}
.searchBar {
    float: left;
    margin-left: 7px;
    color: green;
}

.search-input:focus {
    outline:none;
}

