.header-nav {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background-color: white;
    z-index: 3;
}
.nav-logo {
    float: left;
    margin-top: 5px;
    font-size: 1.5em;
}
.nav-link {
    margin-left: 20px !important;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}
.signup-btn {
    margin-top: 7px !important;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #2185d0;
}
