.header-nav {

}
.nav-logo {
    float: left;
    font-size: 1.5em;
}
.nav-link {
    padding-top: 10px !important;
    margin-left: 0 !important;
    margin-right: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}
.nav-button {
    padding-top: 0px;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #2185d0;
}
