/* STYLES FOR USER USER TAGS FORM */
.main-container {
    padding-top: 10%;
    text-align: center;
}
.form {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}
.submit-button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #3c4858;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
}
.tags-sub {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 0 !important;
}
.tags-sub:hover{
    cursor: default;
}
input {
    border-radius: 5px;
}
.tags-field {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
