/* STYLES FOR USER DETAILS FORM */
.main-container {
    padding-top: 10%;
    text-align: center;
    background-color: #EDF5FB;
    height: 100vh;
}
.form {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    background-color: white;
    border-radius: 15px;
}
.form h1 {
    text-align: center;
}
.user-form-sub {
    text-align: center;
}
.fields-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.fields-container > p {
    text-align: left;
}
.submit-button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #3c4858;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
}
p {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}
.user-detail-form-field{
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
